<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/layout.html :: html_head"></head>


<body style="margin-left: 20px; margin-top:20px">
  <div th:replace="fragments/layout.html :: header"/>
  <div th:replace="fragments/layout.html :: menu"/>
  <h4 style="font-weight: bolder; padding-bottom: 1rem; padding-top: 2rem; margin-left: 20px;">Pending Enrollment Reject Requests</h4>

  <div th:if="${ #lists.isEmpty(pendingRequest)}">
    <h5 style=" margin-left: 20px; padding-top: 1.5rem; color: darkgreen;"> You have no pending request.</h5>
  </div>

  <div th:if="${not #lists.isEmpty(pendingRequest)}">
    <table class="table table-striped"  style=" margin-left: 20px;">
      <tr>
        <th>Matric No.</th>
        <th>Student Name</th>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Status</th>
        <th>Approve</th>
        <th>Reject</th>
      </tr>
      <tr th:each="item, iStat : ${pendingRequest}">
        <td th:text="${item.student.username}">MatricId</td>
        <td th:text="${item.student.firstName + ' ' + item.student.lastName}">name</td>
        <td th:text="${item.course.courseCode}">CourseCode</td>
        <td th:text="${item.course.name}">course</td>
        <td th:text="${item.enrollmentStatus}">enrollmentStatus</td>
        <td>
          <a class="btn btn-warning"
            th:href="@{request/approve/{studentId}/{courseId}(studentId=${item.student.id}, courseId=${item.course.id})}">Approve</a>
        </td>
        <!-- <a class="btn btn-info" th:href="@{'/student/courses/' + ${course.id}}">Enroll</a> -->
        <td>
          <a class="btn btn-secondary"
            th:href="@{request/reject/{studentId}/{courseId}(studentId=${item.student.id}, courseId=${item.course.id})}">Reject</a>
        </td>
      </tr>
    </table>
  </div>
</body>

<footer th:replace="fragments/layout.html :: footer"/>
</html>