<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head  th:replace="fragments/layout.html :: html_head"/>
<title>Lecturer - Home</title>
</head>
<body style="margin-left: 20px; margin-top:20px">
    <div th:replace="fragments/layout.html :: header"/>
    <div th:replace="fragments/layout.html :: menu"/>
    <br/>
    <br/>
    <div>
        <h4 style="font-weight: bolder;">Courses Taught</h4>
        <br/>
        <div>
            <table th:if="${not #lists.isEmpty(courses)}" class="table table-striped" style="border-color: black;">
                <thead>
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Course Code</th>
                        <th scope="col">Course Description</th>
                        <th scope="col">Credits</th>
                        <th scope="col">Period</th>
                        <th scope="col">Duration (Days)</th>
                        <th scope="col">Current Enrollment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="course, iStat : ${courses}" style="width: min-content; padding-top: 10px; padding-bottom: 10px;">
                        <td th:text="${iStat.index + 1}"></td>
                        <td th:text="${course.name}"></td>
                        <td th:text="${course.courseCode}"></td>
                        <td th:text="${course.description}"></td>
                        <td th:text="${course.credits}"></td>
                        <td th:text="${course.startDate + ' to ' + course.endDate}"></td>
                        <td th:text="${courseDuration[iStat.index]}" style="text-align:center;"></td>
                        <td th:text="${enrolCount[iStat.index] + ' / ' + course.capacity}" style="text-align:center;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<footer th:replace="fragments/layout.html :: footer"/>
</html>