<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/layout.html :: html_head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 4xx</title>
</head>
<body>
        <div class="d-flex align-items-center flex-column vh-100 bg-primary" style="padding-top: 150px;">
            <!-- <h1 class="p-2 display-1 fw-bold text-white">Oh no! Error</h1> -->
            <h4 class="p-2 display-1 text-white">Something went wrong.</h4>
            <h4 class="p-2 display-3 text-white"> The page you're looking for is not available.</h4>
        </div>    
</body>
</html>